main {
  padding: 3rem 1rem 2rem;
}
a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}
.bdcLink, .feedbackLink {
  display: inline-block;
  margin-right: 6rem;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.bdcLink:hover, .feedbackLink:hover {
  border-color: rgba(255,255,255,1);
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
  transition: 'border-bottom-color 300ms linear';
  -webkit-transition: border-bottom-color 300ms linear;
  -ms-transition: border-bottom-color 300ms linear;
  -moz-transition: border-bottom-color 300ms linear;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 110%;
  }
  h1 {
    font-size: 1.2rem;
  }
  .bdcLink, .feedbackLink {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
